In [1]:
import pandas as pd

#### 2004

In [2]:
ca_2004_01 = pd.read_csv("rsc/ca-2004-01.csv", sep=';')

In [3]:
ca_2004_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,11/05/2004,"1,967","1,6623",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,11/05/2004,"0,899","0,6282",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,11/05/2004,"1,299","1,1704",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,10/05/2004,"1,85","1,67",R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,10/05/2004,"0,78","0,48",R$ / litro,BRANCA

In [4]:
ca_2004_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281531 entries, 0 to 281530
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     281531 non-null  object
 1   Estado - Sigla     281531 non-null  object
 2   Municipio          281531 non-null  object
 3   Revenda            281531 non-null  object
 4   CNPJ da Revenda    281531 non-null  object
 5   Nome da Rua        281531 non-null  object
 6   Numero Rua         281358 non-null  object
 7   Complemento        92233 non-null   object
 8   Bairro             280713 non-null  object
 9   Cep                281531 non-null  object
 10  Produto            281531 non-null  object
 11  Data da Coleta     281531 non-null  object
 12  Valor de Venda     281531 non-null  object
 13  Valor de Compra    195235 non-null  object
 14  Unidade de Medida  281531 non-null  object
 15  Bandeira           281531 non-null  object
dtypes: object(16)
memory usage: 34.4+ MB

In [5]:
ca_2004_01['Valor de Venda'].unique()

array(['1,967', '0,899', '1,299', ..., '1,413', '2,092', '1,914'],
      dtype=object)

In [6]:
ca_2004_01['Valor de Venda'] = ca_2004_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2004_01['Valor de Compra'] = ca_2004_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [7]:
ca_2004_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281531 entries, 0 to 281530
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     281531 non-null  object
 1   Estado - Sigla     281531 non-null  object
 2   Municipio          281531 non-null  object
 3   Revenda            281531 non-null  object
 4   CNPJ da Revenda    281531 non-null  object
 5   Nome da Rua        281531 non-null  object
 6   Numero Rua         281358 non-null  object
 7   Complemento        92233 non-null   object
 8   Bairro             280713 non-null  object
 9   Cep                281531 non-null  object
 10  Produto            281531 non-null  object
 11  Data da Coleta     281531 non-null  object
 12  Valor de Venda     281531 non-null  float64
 13  Valor de Compra    195235 non-null  float64
 14  Unidade de Medida  281531 non-null  object
 15  Bandeira           281531 non-null  object
dtypes: float64(2), object(14)
memory usage: 34.4+ MB

In [8]:
ca_2004_02 = pd.read_csv("rsc/ca-2004-02.csv", sep=';')

In [9]:
ca_2004_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,MS,CAMPO GRANDE,AUTO POSTO APARECIDA DO NORTE LTDA,86.807.609/0001-92,RUA BRILHANTE,"2,787",NaN,VILA BANDEIRANTES,79006-560,GASOLINA,01/07/2004,"2,71","2,0888",R$ / litro,LIQUIGÁS
1,CO,MS,CAMPO GRANDE,AUTO POSTO APARECIDA DO NORTE LTDA,86.807.609/0001-92,RUA BRILHANTE,"2,787",NaN,VILA BANDEIRANTES,79006-560,ETANOL,01/07/2004,"1,71","1,1877",R$ / litro,LIQUIGÁS
2,CO,MS,CAMPO GRANDE,AUTO POSTO APARECIDA DO NORTE LTDA,86.807.609/0001-92,RUA BRILHANTE,"2,787",NaN,VILA BANDEIRANTES,79006-560,DIESEL,01/07/2004,"1,88","1,5279",R$ / litro,LIQUIGÁS
3,CO,MT,ALTA FLORESTA,AUTO POSTO BURIOL LTDA,04.481.758/0001-40,AVENIDA ARIOSTO DA RIVA,S/N,LOTE AC 35/2,CENTRO,78580-000,GASOLINA,01/07/2004,"2,69","2,0735",R$ / litro,CBPI
4,CO,MT,ALTA FLORESTA,AUTO POSTO BURIOL LTDA,04.481.758/0001-40,AVENIDA ARIOSTO DA RIVA,S/N,LOTE AC 35/2,CENTRO,78580-000,ETANOL,01/07/2004,"1,69",NaN,R$ / litro,CBPI

In [10]:
ca_2004_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915317 entries, 0 to 915316
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     915317 non-null  object
 1   Estado - Sigla     915317 non-null  object
 2   Municipio          915317 non-null  object
 3   Revenda            915317 non-null  object
 4   CNPJ da Revenda    915317 non-null  object
 5   Nome da Rua        915317 non-null  object
 6   Numero Rua         914840 non-null  object
 7   Complemento        299051 non-null  object
 8   Bairro             912676 non-null  object
 9   Cep                915317 non-null  object
 10  Produto            915317 non-null  object
 11  Data da Coleta     915317 non-null  object
 12  Valor de Venda     915317 non-null  object
 13  Valor de Compra    626609 non-null  object
 14  Unidade de Medida  915317 non-null  object
 15  Bandeira           915317 non-null  object
dtypes: object(16)
memory usage: 111.7+ MB

In [11]:
ca_2004_02['Valor de Venda'] = ca_2004_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2004_02['Valor de Compra'] = ca_2004_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [12]:
ca_2004_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915317 entries, 0 to 915316
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     915317 non-null  object
 1   Estado - Sigla     915317 non-null  object
 2   Municipio          915317 non-null  object
 3   Revenda            915317 non-null  object
 4   CNPJ da Revenda    915317 non-null  object
 5   Nome da Rua        915317 non-null  object
 6   Numero Rua         914840 non-null  object
 7   Complemento        299051 non-null  object
 8   Bairro             912676 non-null  object
 9   Cep                915317 non-null  object
 10  Produto            915317 non-null  object
 11  Data da Coleta     915317 non-null  object
 12  Valor de Venda     915317 non-null  float64
 13  Valor de Compra    626609 non-null  float64
 14  Unidade de Medida  915317 non-null  object
 15  Bandeira           915317 non-null  object
dtypes: float64(2), object(14)
memory usage: 111.7+ MB

#### 2005

In [13]:
ca_2005_01 = pd.read_csv("rsc/ca-2005-01.csv", sep=';')

In [14]:
ca_2005_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,04/01/2005,"2,257","1,9594",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,04/01/2005,"1,449","1,0962",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,04/01/2005,"1,579","1,4444",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,04/01/2005,"2,21","1,97",R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,04/01/2005,"1,23","0,93",R$ / litro,BRANCA

In [15]:
ca_2005_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912729 entries, 0 to 912728
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     912729 non-null  object
 1   Estado - Sigla     912729 non-null  object
 2   Municipio          912729 non-null  object
 3   Revenda            912729 non-null  object
 4   CNPJ da Revenda    912729 non-null  object
 5   Nome da Rua        912729 non-null  object
 6   Numero Rua         912225 non-null  object
 7   Complemento        297241 non-null  object
 8   Bairro             910112 non-null  object
 9   Cep                912729 non-null  object
 10  Produto            912729 non-null  object
 11  Data da Coleta     912729 non-null  object
 12  Valor de Venda     912729 non-null  object
 13  Valor de Compra    612689 non-null  object
 14  Unidade de Medida  912729 non-null  object
 15  Bandeira           912729 non-null  object
dtypes: object(16)
memory usage: 111.4+ MB

In [16]:
ca_2005_01['Valor de Venda'] = ca_2005_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2005_01['Valor de Compra'] = ca_2005_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [17]:
ca_2005_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912729 entries, 0 to 912728
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     912729 non-null  object
 1   Estado - Sigla     912729 non-null  object
 2   Municipio          912729 non-null  object
 3   Revenda            912729 non-null  object
 4   CNPJ da Revenda    912729 non-null  object
 5   Nome da Rua        912729 non-null  object
 6   Numero Rua         912225 non-null  object
 7   Complemento        297241 non-null  object
 8   Bairro             910112 non-null  object
 9   Cep                912729 non-null  object
 10  Produto            912729 non-null  object
 11  Data da Coleta     912729 non-null  object
 12  Valor de Venda     912729 non-null  float64
 13  Valor de Compra    612689 non-null  float64
 14  Unidade de Medida  912729 non-null  object
 15  Bandeira           912729 non-null  object
dtypes: float64(2), object(14)
memory usage: 111.4+ MB

In [18]:
ca_2005_02 = pd.read_csv("rsc/ca-2005-02.csv", sep=';')

In [19]:
ca_2005_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,05/07/2005,"2,197","1,8559",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,05/07/2005,"0,999","0,8789",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,05/07/2005,"1,599","1,474",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,04/07/2005,"2,03","1,89",R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,04/07/2005,"0,99","0,7929",R$ / litro,BRANCA

In [20]:
ca_2005_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741813 entries, 0 to 741812
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     741813 non-null  object
 1   Estado - Sigla     741813 non-null  object
 2   Municipio          741813 non-null  object
 3   Revenda            741813 non-null  object
 4   CNPJ da Revenda    741813 non-null  object
 5   Nome da Rua        741813 non-null  object
 6   Numero Rua         741421 non-null  object
 7   Complemento        228784 non-null  object
 8   Bairro             739873 non-null  object
 9   Cep                741813 non-null  object
 10  Produto            741813 non-null  object
 11  Data da Coleta     741813 non-null  object
 12  Valor de Venda     741813 non-null  object
 13  Valor de Compra    455397 non-null  object
 14  Unidade de Medida  741813 non-null  object
 15  Bandeira           741813 non-null  object
dtypes: object(16)
memory usage: 90.6+ MB

In [21]:
ca_2005_02['Valor de Venda'] = ca_2005_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2005_02['Valor de Compra'] = ca_2005_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [22]:
ca_2005_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741813 entries, 0 to 741812
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     741813 non-null  object
 1   Estado - Sigla     741813 non-null  object
 2   Municipio          741813 non-null  object
 3   Revenda            741813 non-null  object
 4   CNPJ da Revenda    741813 non-null  object
 5   Nome da Rua        741813 non-null  object
 6   Numero Rua         741421 non-null  object
 7   Complemento        228784 non-null  object
 8   Bairro             739873 non-null  object
 9   Cep                741813 non-null  object
 10  Produto            741813 non-null  object
 11  Data da Coleta     741813 non-null  object
 12  Valor de Venda     741813 non-null  float64
 13  Valor de Compra    455397 non-null  float64
 14  Unidade de Medida  741813 non-null  object
 15  Bandeira           741813 non-null  object
dtypes: float64(2), object(14)
memory usage: 90.6+ MB

#### 2006

In [23]:
ca_2006_01 = pd.read_csv("rsc/ca-2006-01.csv", sep=';')

In [24]:
ca_2006_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,04/01/2006,"2,447","2,035",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,04/01/2006,"1,699","1,3586",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,04/01/2006,"1,799","1,629",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,03/01/2006,"2,32",NaN,R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,03/01/2006,"1,49",NaN,R$ / litro,BRANCA

In [25]:
ca_2006_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868880 entries, 0 to 868879
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     868880 non-null  object
 1   Estado - Sigla     868880 non-null  object
 2   Municipio          868880 non-null  object
 3   Revenda            868880 non-null  object
 4   CNPJ da Revenda    868880 non-null  object
 5   Nome da Rua        868880 non-null  object
 6   Numero Rua         868492 non-null  object
 7   Complemento        259035 non-null  object
 8   Bairro             866404 non-null  object
 9   Cep                868880 non-null  object
 10  Produto            868880 non-null  object
 11  Data da Coleta     868880 non-null  object
 12  Valor de Venda     868880 non-null  object
 13  Valor de Compra    556915 non-null  object
 14  Unidade de Medida  868880 non-null  object
 15  Bandeira           868880 non-null  object
dtypes: object(16)
memory usage: 106.1+ MB

In [26]:
ca_2006_01['Valor de Venda'] = ca_2006_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2006_01['Valor de Compra'] = ca_2006_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [27]:
ca_2006_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868880 entries, 0 to 868879
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     868880 non-null  object
 1   Estado - Sigla     868880 non-null  object
 2   Municipio          868880 non-null  object
 3   Revenda            868880 non-null  object
 4   CNPJ da Revenda    868880 non-null  object
 5   Nome da Rua        868880 non-null  object
 6   Numero Rua         868492 non-null  object
 7   Complemento        259035 non-null  object
 8   Bairro             866404 non-null  object
 9   Cep                868880 non-null  object
 10  Produto            868880 non-null  object
 11  Data da Coleta     868880 non-null  object
 12  Valor de Venda     868880 non-null  float64
 13  Valor de Compra    556915 non-null  float64
 14  Unidade de Medida  868880 non-null  object
 15  Bandeira           868880 non-null  object
dtypes: float64(2), object(14)
memory usage: 106.1+ MB

In [28]:
ca_2006_02 = pd.read_csv("rsc/ca-2006-02.csv", sep=';')

In [29]:
ca_2006_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,05/07/2006,"2,38","2,125",R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,05/07/2006,"1,23","1,1292",R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,05/07/2006,"1,79","1,615",R$ / litro,BRANCA
3,SE,MG,BELO HORIZONTE,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0057-59,AVENIDA PRESIDENTE ANTONIO CARLOS,4250,NaN,PAMPULHA,31270-000,GASOLINA,04/07/2006,"2,42","2,1646",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,MG,BELO HORIZONTE,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0057-59,AVENIDA PRESIDENTE ANTONIO CARLOS,4250,NaN,PAMPULHA,31270-000,ETANOL,04/07/2006,"1,89","1,563",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [30]:
ca_2006_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802334 entries, 0 to 802333
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     802334 non-null  object
 1   Estado - Sigla     802334 non-null  object
 2   Municipio          802334 non-null  object
 3   Revenda            802334 non-null  object
 4   CNPJ da Revenda    802334 non-null  object
 5   Nome da Rua        802334 non-null  object
 6   Numero Rua         801983 non-null  object
 7   Complemento        234348 non-null  object
 8   Bairro             799888 non-null  object
 9   Cep                802334 non-null  object
 10  Produto            802334 non-null  object
 11  Data da Coleta     802334 non-null  object
 12  Valor de Venda     802334 non-null  object
 13  Valor de Compra    533246 non-null  object
 14  Unidade de Medida  802334 non-null  object
 15  Bandeira           802334 non-null  object
dtypes: object(16)
memory usage: 97.9+ MB

In [31]:
ca_2006_02['Valor de Venda'] = ca_2006_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2006_02['Valor de Compra'] = ca_2006_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [32]:
ca_2006_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802334 entries, 0 to 802333
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     802334 non-null  object
 1   Estado - Sigla     802334 non-null  object
 2   Municipio          802334 non-null  object
 3   Revenda            802334 non-null  object
 4   CNPJ da Revenda    802334 non-null  object
 5   Nome da Rua        802334 non-null  object
 6   Numero Rua         801983 non-null  object
 7   Complemento        234348 non-null  object
 8   Bairro             799888 non-null  object
 9   Cep                802334 non-null  object
 10  Produto            802334 non-null  object
 11  Data da Coleta     802334 non-null  object
 12  Valor de Venda     802334 non-null  float64
 13  Valor de Compra    533246 non-null  float64
 14  Unidade de Medida  802334 non-null  object
 15  Bandeira           802334 non-null  object
dtypes: float64(2), object(14)
memory usage: 97.9+ MB

#### 2007

In [33]:
ca_2007_01 = pd.read_csv("rsc/ca-2007-01.csv", sep=';')

In [34]:
ca_2007_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,04/01/2007,"2,36","2,056",R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,04/01/2007,"1,16","0,9887",R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,04/01/2007,"1,79","1,625",R$ / litro,BRANCA
3,SE,RJ,RIO DE JANEIRO,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0013-38,RUA GENERAL CANABARRO,485,"AREA 1, QUADRA 260",MARACANÃ,20271-900,GASOLINA,04/01/2007,"2,499","2,2348",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,RJ,RIO DE JANEIRO,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0013-38,RUA GENERAL CANABARRO,485,"AREA 1, QUADRA 260",MARACANÃ,20271-900,ETANOL,04/01/2007,"1,699","1,4842",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [35]:
ca_2007_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843679 entries, 0 to 843678
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     843679 non-null  object
 1   Estado - Sigla     843679 non-null  object
 2   Municipio          843679 non-null  object
 3   Revenda            843679 non-null  object
 4   CNPJ da Revenda    843679 non-null  object
 5   Nome da Rua        843679 non-null  object
 6   Numero Rua         843351 non-null  object
 7   Complemento        230126 non-null  object
 8   Bairro             841329 non-null  object
 9   Cep                843679 non-null  object
 10  Produto            843679 non-null  object
 11  Data da Coleta     843679 non-null  object
 12  Valor de Venda     843679 non-null  object
 13  Valor de Compra    577294 non-null  object
 14  Unidade de Medida  843679 non-null  object
 15  Bandeira           843679 non-null  object
dtypes: object(16)
memory usage: 103.0+ MB

In [36]:
ca_2007_01['Valor de Venda'] = ca_2007_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2007_01['Valor de Compra'] = ca_2007_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [37]:
ca_2007_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843679 entries, 0 to 843678
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     843679 non-null  object
 1   Estado - Sigla     843679 non-null  object
 2   Municipio          843679 non-null  object
 3   Revenda            843679 non-null  object
 4   CNPJ da Revenda    843679 non-null  object
 5   Nome da Rua        843679 non-null  object
 6   Numero Rua         843351 non-null  object
 7   Complemento        230126 non-null  object
 8   Bairro             841329 non-null  object
 9   Cep                843679 non-null  object
 10  Produto            843679 non-null  object
 11  Data da Coleta     843679 non-null  object
 12  Valor de Venda     843679 non-null  float64
 13  Valor de Compra    577294 non-null  float64
 14  Unidade de Medida  843679 non-null  object
 15  Bandeira           843679 non-null  object
dtypes: float64(2), object(14)
memory usage: 103.0+ MB

In [38]:
ca_2007_02 = pd.read_csv("rsc/ca-2007-02.csv", sep=';')

In [39]:
ca_2007_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,GASOLINA,03/07/2007,"2,299","2,05",R$ / litro,BRANCA
1,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,ETANOL,03/07/2007,"1,099","0,8343",R$ / litro,BRANCA
2,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,DIESEL,03/07/2007,"1,779","1,654",R$ / litro,BRANCA
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,02/07/2007,"2,36",NaN,R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,02/07/2007,"1,07",NaN,R$ / litro,BRANCA

In [40]:
ca_2007_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659632 entries, 0 to 659631
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     659632 non-null  object
 1   Estado - Sigla     659632 non-null  object
 2   Municipio          659632 non-null  object
 3   Revenda            659632 non-null  object
 4   CNPJ da Revenda    659632 non-null  object
 5   Nome da Rua        659632 non-null  object
 6   Numero Rua         659366 non-null  object
 7   Complemento        177487 non-null  object
 8   Bairro             657438 non-null  object
 9   Cep                659632 non-null  object
 10  Produto            659632 non-null  object
 11  Data da Coleta     659632 non-null  object
 12  Valor de Venda     659632 non-null  object
 13  Valor de Compra    439763 non-null  object
 14  Unidade de Medida  659632 non-null  object
 15  Bandeira           659632 non-null  object
dtypes: object(16)
memory usage: 80.5+ MB

In [41]:
ca_2007_02['Valor de Venda'] = ca_2007_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2007_02['Valor de Compra'] = ca_2007_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [42]:
ca_2007_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659632 entries, 0 to 659631
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     659632 non-null  object
 1   Estado - Sigla     659632 non-null  object
 2   Municipio          659632 non-null  object
 3   Revenda            659632 non-null  object
 4   CNPJ da Revenda    659632 non-null  object
 5   Nome da Rua        659632 non-null  object
 6   Numero Rua         659366 non-null  object
 7   Complemento        177487 non-null  object
 8   Bairro             657438 non-null  object
 9   Cep                659632 non-null  object
 10  Produto            659632 non-null  object
 11  Data da Coleta     659632 non-null  object
 12  Valor de Venda     659632 non-null  float64
 13  Valor de Compra    439763 non-null  float64
 14  Unidade de Medida  659632 non-null  object
 15  Bandeira           659632 non-null  object
dtypes: float64(2), object(14)
memory usage: 80.5+ MB

#### 2008

In [43]:
ca_2008_01 = pd.read_csv("rsc/ca-2008-01.csv", sep=';')

In [44]:
ca_2008_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,03/01/2008,"2,65",NaN,R$ / litro,BRANCA
1,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,ETANOL,03/01/2008,"1,65",NaN,R$ / litro,BRANCA
2,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,03/01/2008,"1,85",NaN,R$ / litro,BRANCA
3,SE,MG,SAO SEBASTIAO DO PARAISO,REDE DE POSTOS ZERO IV LTDA.,00.883.226/0001-88,RODOVIA BR 491 KM 03,3101,NaN,ITAMARATI,37950-000,GASOLINA,03/01/2008,"2,54",NaN,R$ / litro,RAIZEN
4,SE,MG,SAO SEBASTIAO DO PARAISO,REDE DE POSTOS ZERO IV LTDA.,00.883.226/0001-88,RODOVIA BR 491 KM 03,3101,NaN,ITAMARATI,37950-000,ETANOL,03/01/2008,"1,69",NaN,R$ / litro,RAIZEN

In [45]:
ca_2008_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636862 entries, 0 to 636861
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     636862 non-null  object
 1   Estado - Sigla     636862 non-null  object
 2   Municipio          636862 non-null  object
 3   Revenda            636862 non-null  object
 4   CNPJ da Revenda    636862 non-null  object
 5   Nome da Rua        636862 non-null  object
 6   Numero Rua         636543 non-null  object
 7   Complemento        171799 non-null  object
 8   Bairro             634671 non-null  object
 9   Cep                636862 non-null  object
 10  Produto            636862 non-null  object
 11  Data da Coleta     636862 non-null  object
 12  Valor de Venda     636862 non-null  object
 13  Valor de Compra    386271 non-null  object
 14  Unidade de Medida  636862 non-null  object
 15  Bandeira           636862 non-null  object
dtypes: object(16)
memory usage: 77.7+ MB

In [46]:
ca_2008_01['Valor de Venda'] = ca_2008_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2008_01['Valor de Compra'] = ca_2008_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [47]:
ca_2008_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636862 entries, 0 to 636861
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     636862 non-null  object
 1   Estado - Sigla     636862 non-null  object
 2   Municipio          636862 non-null  object
 3   Revenda            636862 non-null  object
 4   CNPJ da Revenda    636862 non-null  object
 5   Nome da Rua        636862 non-null  object
 6   Numero Rua         636543 non-null  object
 7   Complemento        171799 non-null  object
 8   Bairro             634671 non-null  object
 9   Cep                636862 non-null  object
 10  Produto            636862 non-null  object
 11  Data da Coleta     636862 non-null  object
 12  Valor de Venda     636862 non-null  float64
 13  Valor de Compra    386271 non-null  float64
 14  Unidade de Medida  636862 non-null  object
 15  Bandeira           636862 non-null  object
dtypes: float64(2), object(14)
memory usage: 77.7+ MB

In [48]:
ca_2008_02 = pd.read_csv("rsc/ca-2008-02.csv", sep=';')

In [49]:
ca_2008_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,GASOLINA,02/07/2008,"2,54","2,1444",R$ / litro,BRANCA
1,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,ETANOL,02/07/2008,"1,23","1,0461",R$ / litro,BRANCA
2,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,DIESEL,02/07/2008,"2,01","1,8682",R$ / litro,BRANCA
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,01/07/2008,"2,497",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,01/07/2008,"1,249",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [50]:
ca_2008_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678557 entries, 0 to 678556
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     678557 non-null  object
 1   Estado - Sigla     678557 non-null  object
 2   Municipio          678557 non-null  object
 3   Revenda            678557 non-null  object
 4   CNPJ da Revenda    678557 non-null  object
 5   Nome da Rua        678557 non-null  object
 6   Numero Rua         678218 non-null  object
 7   Complemento        182928 non-null  object
 8   Bairro             676311 non-null  object
 9   Cep                678557 non-null  object
 10  Produto            678557 non-null  object
 11  Data da Coleta     678557 non-null  object
 12  Valor de Venda     678557 non-null  object
 13  Valor de Compra    395809 non-null  object
 14  Unidade de Medida  678557 non-null  object
 15  Bandeira           678557 non-null  object
dtypes: object(16)
memory usage: 82.8+ MB

In [51]:
ca_2008_02['Valor de Venda'] = ca_2008_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2008_02['Valor de Compra'] = ca_2008_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [52]:
ca_2008_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678557 entries, 0 to 678556
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     678557 non-null  object
 1   Estado - Sigla     678557 non-null  object
 2   Municipio          678557 non-null  object
 3   Revenda            678557 non-null  object
 4   CNPJ da Revenda    678557 non-null  object
 5   Nome da Rua        678557 non-null  object
 6   Numero Rua         678218 non-null  object
 7   Complemento        182928 non-null  object
 8   Bairro             676311 non-null  object
 9   Cep                678557 non-null  object
 10  Produto            678557 non-null  object
 11  Data da Coleta     678557 non-null  object
 12  Valor de Venda     678557 non-null  float64
 13  Valor de Compra    395809 non-null  float64
 14  Unidade de Medida  678557 non-null  object
 15  Bandeira           678557 non-null  object
dtypes: float64(2), object(14)
memory usage: 82.8+ MB

#### 2009

In [53]:
ca_2009_01 = pd.read_csv("rsc/ca-2009-01.csv", sep=';')

In [54]:
ca_2009_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,GASOLINA,07/01/2009,"2,379","2,05",R$ / litro,BRANCA
1,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,ETANOL,07/01/2009,"1,299","0,9795",R$ / litro,BRANCA
2,SE,SP,OSASCO,AUTO POSTO ROMA II LTDA,67.507.673/0001-03,AVENIDA JOAO ANDRADE,390/420,0,JARDIM VELOSO,06132-000,DIESEL,07/01/2009,"2,099","1,88",R$ / litro,BRANCA
3,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,06/01/2009,"2,27","2,04",R$ / litro,BRANCA
4,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,06/01/2009,"1,18","0,9899",R$ / litro,BRANCA

In [55]:
ca_2009_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644873 entries, 0 to 644872
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     644873 non-null  object
 1   Estado - Sigla     644873 non-null  object
 2   Municipio          644873 non-null  object
 3   Revenda            644873 non-null  object
 4   CNPJ da Revenda    644873 non-null  object
 5   Nome da Rua        644873 non-null  object
 6   Numero Rua         644604 non-null  object
 7   Complemento        172936 non-null  object
 8   Bairro             642736 non-null  object
 9   Cep                644873 non-null  object
 10  Produto            644873 non-null  object
 11  Data da Coleta     644873 non-null  object
 12  Valor de Venda     644873 non-null  object
 13  Valor de Compra    364309 non-null  object
 14  Unidade de Medida  644873 non-null  object
 15  Bandeira           644873 non-null  object
dtypes: object(16)
memory usage: 78.7+ MB

In [56]:
ca_2009_01['Valor de Venda'] = ca_2009_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2009_01['Valor de Compra'] = ca_2009_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [57]:
ca_2009_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644873 entries, 0 to 644872
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     644873 non-null  object
 1   Estado - Sigla     644873 non-null  object
 2   Municipio          644873 non-null  object
 3   Revenda            644873 non-null  object
 4   CNPJ da Revenda    644873 non-null  object
 5   Nome da Rua        644873 non-null  object
 6   Numero Rua         644604 non-null  object
 7   Complemento        172936 non-null  object
 8   Bairro             642736 non-null  object
 9   Cep                644873 non-null  object
 10  Produto            644873 non-null  object
 11  Data da Coleta     644873 non-null  object
 12  Valor de Venda     644873 non-null  float64
 13  Valor de Compra    364309 non-null  float64
 14  Unidade de Medida  644873 non-null  object
 15  Bandeira           644873 non-null  object
dtypes: float64(2), object(14)
memory usage: 78.7+ MB

In [58]:
ca_2009_02 = pd.read_csv("rsc/ca-2009-02.csv", sep=';')

In [59]:
ca_2009_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,01/07/2009,"2,59",NaN,R$ / litro,BRANCA
1,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,ETANOL,01/07/2009,"1,69",NaN,R$ / litro,BRANCA
2,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,01/07/2009,"1,919",NaN,R$ / litro,BRANCA
3,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,01/07/2009,"2,459",NaN,R$ / litro,COSAN LUBRIFICANTES
4,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,ETANOL,01/07/2009,"1,499",NaN,R$ / litro,COSAN LUBRIFICANTES

In [60]:
ca_2009_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485891 entries, 0 to 485890
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     485891 non-null  object
 1   Estado - Sigla     485891 non-null  object
 2   Municipio          485891 non-null  object
 3   Revenda            485891 non-null  object
 4   CNPJ da Revenda    485891 non-null  object
 5   Nome da Rua        485891 non-null  object
 6   Numero Rua         485702 non-null  object
 7   Complemento        131553 non-null  object
 8   Bairro             484419 non-null  object
 9   Cep                485891 non-null  object
 10  Produto            485891 non-null  object
 11  Data da Coleta     485891 non-null  object
 12  Valor de Venda     485891 non-null  object
 13  Valor de Compra    280129 non-null  object
 14  Unidade de Medida  485891 non-null  object
 15  Bandeira           485891 non-null  object
dtypes: object(16)
memory usage: 59.3+ MB

In [61]:
ca_2009_02['Valor de Venda'] = ca_2009_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2009_02['Valor de Compra'] = ca_2009_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [62]:
ca_2009_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485891 entries, 0 to 485890
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     485891 non-null  object
 1   Estado - Sigla     485891 non-null  object
 2   Municipio          485891 non-null  object
 3   Revenda            485891 non-null  object
 4   CNPJ da Revenda    485891 non-null  object
 5   Nome da Rua        485891 non-null  object
 6   Numero Rua         485702 non-null  object
 7   Complemento        131553 non-null  object
 8   Bairro             484419 non-null  object
 9   Cep                485891 non-null  object
 10  Produto            485891 non-null  object
 11  Data da Coleta     485891 non-null  object
 12  Valor de Venda     485891 non-null  float64
 13  Valor de Compra    280129 non-null  float64
 14  Unidade de Medida  485891 non-null  object
 15  Bandeira           485891 non-null  object
dtypes: float64(2), object(14)
memory usage: 59.3+ MB

#### 2010

In [63]:
ca_2010_01 = pd.read_csv("rsc/ca-2010-01.csv", sep=';')

In [64]:
ca_2010_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,05/01/2010,"2,447",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,05/01/2010,"1,779",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,05/01/2010,"1,869",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,05/01/2010,"1,499",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
4,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,04/01/2010,"2,69","2,2274",R$ / litro,COSAN LUBRIFICANTES

In [65]:
ca_2010_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628516 entries, 0 to 628515
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     628516 non-null  object
 1   Estado - Sigla     628516 non-null  object
 2   Municipio          628516 non-null  object
 3   Revenda            628516 non-null  object
 4   CNPJ da Revenda    628516 non-null  object
 5   Nome da Rua        628516 non-null  object
 6   Numero Rua         628166 non-null  object
 7   Complemento        171475 non-null  object
 8   Bairro             626448 non-null  object
 9   Cep                628516 non-null  object
 10  Produto            628516 non-null  object
 11  Data da Coleta     628516 non-null  object
 12  Valor de Venda     628516 non-null  object
 13  Valor de Compra    321406 non-null  object
 14  Unidade de Medida  628516 non-null  object
 15  Bandeira           628516 non-null  object
dtypes: object(16)
memory usage: 76.7+ MB

In [66]:
ca_2010_01['Valor de Venda'] = ca_2010_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2010_01['Valor de Compra'] = ca_2010_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [67]:
ca_2010_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628516 entries, 0 to 628515
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     628516 non-null  object
 1   Estado - Sigla     628516 non-null  object
 2   Municipio          628516 non-null  object
 3   Revenda            628516 non-null  object
 4   CNPJ da Revenda    628516 non-null  object
 5   Nome da Rua        628516 non-null  object
 6   Numero Rua         628166 non-null  object
 7   Complemento        171475 non-null  object
 8   Bairro             626448 non-null  object
 9   Cep                628516 non-null  object
 10  Produto            628516 non-null  object
 11  Data da Coleta     628516 non-null  object
 12  Valor de Venda     628516 non-null  float64
 13  Valor de Compra    321406 non-null  float64
 14  Unidade de Medida  628516 non-null  object
 15  Bandeira           628516 non-null  object
dtypes: float64(2), object(14)
memory usage: 76.7+ MB

In [68]:
ca_2010_02 = pd.read_csv("rsc/ca-2010-02.csv", sep=';')

In [69]:
ca_2010_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,01/07/2010,"2,399",NaN,R$ / litro,COSAN LUBRIFICANTES
1,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,ETANOL,01/07/2010,"1,699",NaN,R$ / litro,COSAN LUBRIFICANTES
2,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,DIESEL,01/07/2010,"1,959",NaN,R$ / litro,COSAN LUBRIFICANTES
3,SE,MG,BARBACENA,GNV CABANA LTDA,04.760.870/0001-10,RODOVIA BR 040,S/N,KM 699 - AV DAS ROSAS,CAIÇARAS,36205-666,GNV,01/07/2010,"1,81","0,9983",R$ / m³,BRANCA
4,SE,MG,SANTA LUZIA,POSTO LUZIENSE LTDA,03.330.723/0001-47,RUA ALVORADA,440,NaN,SAO BENEDITO,33105-510,GASOLINA,01/07/2010,"2,499","2,148",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [70]:
ca_2010_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645339 entries, 0 to 645338
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     645339 non-null  object
 1   Estado - Sigla     645339 non-null  object
 2   Municipio          645339 non-null  object
 3   Revenda            645339 non-null  object
 4   CNPJ da Revenda    645339 non-null  object
 5   Nome da Rua        645339 non-null  object
 6   Numero Rua         644919 non-null  object
 7   Complemento        171704 non-null  object
 8   Bairro             643206 non-null  object
 9   Cep                645339 non-null  object
 10  Produto            645339 non-null  object
 11  Data da Coleta     645339 non-null  object
 12  Valor de Venda     645339 non-null  object
 13  Valor de Compra    310272 non-null  object
 14  Unidade de Medida  645339 non-null  object
 15  Bandeira           645339 non-null  object
dtypes: object(16)
memory usage: 78.8+ MB

In [71]:
ca_2010_02['Valor de Venda'] = ca_2010_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2010_02['Valor de Compra'] = ca_2010_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [72]:
ca_2010_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645339 entries, 0 to 645338
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     645339 non-null  object
 1   Estado - Sigla     645339 non-null  object
 2   Municipio          645339 non-null  object
 3   Revenda            645339 non-null  object
 4   CNPJ da Revenda    645339 non-null  object
 5   Nome da Rua        645339 non-null  object
 6   Numero Rua         644919 non-null  object
 7   Complemento        171704 non-null  object
 8   Bairro             643206 non-null  object
 9   Cep                645339 non-null  object
 10  Produto            645339 non-null  object
 11  Data da Coleta     645339 non-null  object
 12  Valor de Venda     645339 non-null  float64
 13  Valor de Compra    310272 non-null  float64
 14  Unidade de Medida  645339 non-null  object
 15  Bandeira           645339 non-null  object
dtypes: float64(2), object(14)
memory usage: 78.8+ MB

#### 2011

In [73]:
ca_2011_01 = pd.read_csv("rsc/ca-2011-01.csv", sep=';')

In [74]:
ca_2011_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,GASOLINA,04/01/2011,"2,54",NaN,R$ / litro,BRANCA
1,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,ETANOL,04/01/2011,"1,73",NaN,R$ / litro,BRANCA
2,SE,SP,ARARAQUARA,RAIZEN ARARAQUARA ACUCAR E ALCOOL LTDA,43.960.335/0001-64,RODOVIA FRANCISCO JOSE ZANIN,Km 4,NaN,ZONA RURAL,14801-970,DIESEL,04/01/2011,"2,05",NaN,R$ / litro,BRANCA
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,05/01/2011,"2,497",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,05/01/2011,"1,749",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [75]:
ca_2011_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649693 entries, 0 to 649692
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     649693 non-null  object
 1   Estado - Sigla     649693 non-null  object
 2   Municipio          649693 non-null  object
 3   Revenda            649693 non-null  object
 4   CNPJ da Revenda    649693 non-null  object
 5   Nome da Rua        649693 non-null  object
 6   Numero Rua         649335 non-null  object
 7   Complemento        173123 non-null  object
 8   Bairro             647412 non-null  object
 9   Cep                649693 non-null  object
 10  Produto            649693 non-null  object
 11  Data da Coleta     649693 non-null  object
 12  Valor de Venda     649693 non-null  object
 13  Valor de Compra    280130 non-null  object
 14  Unidade de Medida  649693 non-null  object
 15  Bandeira           649693 non-null  object
dtypes: object(16)
memory usage: 79.3+ MB

In [76]:
ca_2011_01['Valor de Venda'] = ca_2011_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2011_01['Valor de Compra'] = ca_2011_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [77]:
ca_2011_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649693 entries, 0 to 649692
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     649693 non-null  object
 1   Estado - Sigla     649693 non-null  object
 2   Municipio          649693 non-null  object
 3   Revenda            649693 non-null  object
 4   CNPJ da Revenda    649693 non-null  object
 5   Nome da Rua        649693 non-null  object
 6   Numero Rua         649335 non-null  object
 7   Complemento        173123 non-null  object
 8   Bairro             647412 non-null  object
 9   Cep                649693 non-null  object
 10  Produto            649693 non-null  object
 11  Data da Coleta     649693 non-null  object
 12  Valor de Venda     649693 non-null  float64
 13  Valor de Compra    280130 non-null  float64
 14  Unidade de Medida  649693 non-null  object
 15  Bandeira           649693 non-null  object
dtypes: float64(2), object(14)
memory usage: 79.3+ MB

In [78]:
ca_2011_02 = pd.read_csv("rsc/ca-2011-02.csv", sep=';')

In [79]:
ca_2011_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GASOLINA,04/07/2011,"2,71",NaN,R$ / litro,BRANCA
1,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,ETANOL,04/07/2011,"2,09",NaN,R$ / litro,BRANCA
2,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GNV,04/07/2011,"1,79",NaN,R$ / m³,BRANCA
3,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,06/07/2011,"2,73","2,3015",R$ / litro,BRANCA
4,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,ETANOL,06/07/2011,"1,99","1,8802",R$ / litro,BRANCA

In [80]:
ca_2011_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650008 entries, 0 to 650007
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     650008 non-null  object
 1   Estado - Sigla     650008 non-null  object
 2   Municipio          650008 non-null  object
 3   Revenda            650008 non-null  object
 4   CNPJ da Revenda    650008 non-null  object
 5   Nome da Rua        650008 non-null  object
 6   Numero Rua         649694 non-null  object
 7   Complemento        172343 non-null  object
 8   Bairro             647920 non-null  object
 9   Cep                650008 non-null  object
 10  Produto            650008 non-null  object
 11  Data da Coleta     650008 non-null  object
 12  Valor de Venda     650008 non-null  object
 13  Valor de Compra    271564 non-null  object
 14  Unidade de Medida  650008 non-null  object
 15  Bandeira           650008 non-null  object
dtypes: object(16)
memory usage: 79.3+ MB

In [81]:
ca_2011_02['Valor de Venda'] = ca_2011_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2011_02['Valor de Compra'] = ca_2011_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [82]:
ca_2011_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650008 entries, 0 to 650007
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     650008 non-null  object
 1   Estado - Sigla     650008 non-null  object
 2   Municipio          650008 non-null  object
 3   Revenda            650008 non-null  object
 4   CNPJ da Revenda    650008 non-null  object
 5   Nome da Rua        650008 non-null  object
 6   Numero Rua         649694 non-null  object
 7   Complemento        172343 non-null  object
 8   Bairro             647920 non-null  object
 9   Cep                650008 non-null  object
 10  Produto            650008 non-null  object
 11  Data da Coleta     650008 non-null  object
 12  Valor de Venda     650008 non-null  float64
 13  Valor de Compra    271564 non-null  float64
 14  Unidade de Medida  650008 non-null  object
 15  Bandeira           650008 non-null  object
dtypes: float64(2), object(14)
memory usage: 79.3+ MB

#### 2012

In [83]:
ca_2012_01 = pd.read_csv("rsc/ca-2012-01.csv", sep=';')

In [84]:
ca_2012_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,03/01/2012,"2,589",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,03/01/2012,"1,969",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,03/01/2012,"1,879",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,CO,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,GASOLINA,05/01/2012,"2,83",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,CO,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,ETANOL,05/01/2012,"2,27",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [85]:
ca_2012_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662246 entries, 0 to 662245
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     662246 non-null  object
 1   Estado - Sigla     662246 non-null  object
 2   Municipio          662246 non-null  object
 3   Revenda            662246 non-null  object
 4   CNPJ da Revenda    662246 non-null  object
 5   Nome da Rua        662246 non-null  object
 6   Numero Rua         661873 non-null  object
 7   Complemento        174384 non-null  object
 8   Bairro             660174 non-null  object
 9   Cep                662246 non-null  object
 10  Produto            662246 non-null  object
 11  Data da Coleta     662246 non-null  object
 12  Valor de Venda     662246 non-null  object
 13  Valor de Compra    283708 non-null  object
 14  Unidade de Medida  662246 non-null  object
 15  Bandeira           662246 non-null  object
dtypes: object(16)
memory usage: 80.8+ MB

In [86]:
ca_2012_01['Valor de Venda'] = ca_2012_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2012_01['Valor de Compra'] = ca_2012_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [87]:
ca_2012_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662246 entries, 0 to 662245
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     662246 non-null  object
 1   Estado - Sigla     662246 non-null  object
 2   Municipio          662246 non-null  object
 3   Revenda            662246 non-null  object
 4   CNPJ da Revenda    662246 non-null  object
 5   Nome da Rua        662246 non-null  object
 6   Numero Rua         661873 non-null  object
 7   Complemento        174384 non-null  object
 8   Bairro             660174 non-null  object
 9   Cep                662246 non-null  object
 10  Produto            662246 non-null  object
 11  Data da Coleta     662246 non-null  object
 12  Valor de Venda     662246 non-null  float64
 13  Valor de Compra    283708 non-null  float64
 14  Unidade de Medida  662246 non-null  object
 15  Bandeira           662246 non-null  object
dtypes: float64(2), object(14)
memory usage: 80.8+ MB

In [88]:
ca_2012_02 = pd.read_csv("rsc/ca-2012-02.csv", sep=';')

In [89]:
ca_2012_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,04/07/2012,"2,76","2,289",R$ / litro,BRANCA
1,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,ETANOL,04/07/2012,"2,16","1,6566",R$ / litro,BRANCA
2,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,04/07/2012,"1,959","1,69",R$ / litro,BRANCA
3,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL S50,04/07/2012,"2,07","1,8372",R$ / litro,BRANCA
4,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,04/07/2012,"2,89","2,404",R$ / litro,BRANCA

In [90]:
ca_2012_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672257 entries, 0 to 672256
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     672257 non-null  object
 1   Estado - Sigla     672257 non-null  object
 2   Municipio          672257 non-null  object
 3   Revenda            672257 non-null  object
 4   CNPJ da Revenda    672257 non-null  object
 5   Nome da Rua        672257 non-null  object
 6   Numero Rua         671891 non-null  object
 7   Complemento        176801 non-null  object
 8   Bairro             670009 non-null  object
 9   Cep                672257 non-null  object
 10  Produto            672257 non-null  object
 11  Data da Coleta     672257 non-null  object
 12  Valor de Venda     672257 non-null  object
 13  Valor de Compra    304993 non-null  object
 14  Unidade de Medida  672257 non-null  object
 15  Bandeira           672257 non-null  object
dtypes: object(16)
memory usage: 82.1+ MB

In [91]:
ca_2012_02['Valor de Venda'] = ca_2012_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2012_02['Valor de Compra'] = ca_2012_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [92]:
ca_2012_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672257 entries, 0 to 672256
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     672257 non-null  object
 1   Estado - Sigla     672257 non-null  object
 2   Municipio          672257 non-null  object
 3   Revenda            672257 non-null  object
 4   CNPJ da Revenda    672257 non-null  object
 5   Nome da Rua        672257 non-null  object
 6   Numero Rua         671891 non-null  object
 7   Complemento        176801 non-null  object
 8   Bairro             670009 non-null  object
 9   Cep                672257 non-null  object
 10  Produto            672257 non-null  object
 11  Data da Coleta     672257 non-null  object
 12  Valor de Venda     672257 non-null  float64
 13  Valor de Compra    304993 non-null  float64
 14  Unidade de Medida  672257 non-null  object
 15  Bandeira           672257 non-null  object
dtypes: float64(2), object(14)
memory usage: 82.1+ MB

#### 2013

In [93]:
ca_2013_01 = pd.read_csv("rsc/ca-2013-01.csv", sep=';')

In [94]:
ca_2013_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,02/01/2013,"2,599","2,1955",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,02/01/2013,"1,859","1,5582",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,02/01/2013,"2,029",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,02/01/2013,"1,399",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
4,CO,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,00.603.738/0001-43,"QI-QUADRA INTERNA 18 LOTES 47, 49, 51 E 53",S/N,NaN,TAGUATINGA,72315-000,GASOLINA,02/01/2013,"2,83",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [95]:
ca_2013_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664530 entries, 0 to 664529
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     664530 non-null  object
 1   Estado - Sigla     664530 non-null  object
 2   Municipio          664530 non-null  object
 3   Revenda            664530 non-null  object
 4   CNPJ da Revenda    664530 non-null  object
 5   Nome da Rua        664530 non-null  object
 6   Numero Rua         664101 non-null  object
 7   Complemento        173830 non-null  object
 8   Bairro             662184 non-null  object
 9   Cep                664530 non-null  object
 10  Produto            664530 non-null  object
 11  Data da Coleta     664530 non-null  object
 12  Valor de Venda     664530 non-null  object
 13  Valor de Compra    293307 non-null  object
 14  Unidade de Medida  664530 non-null  object
 15  Bandeira           664530 non-null  object
dtypes: object(16)
memory usage: 81.1+ MB

In [96]:
ca_2013_01['Valor de Venda'] = ca_2013_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2013_01['Valor de Compra'] = ca_2013_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [97]:
ca_2013_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664530 entries, 0 to 664529
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     664530 non-null  object
 1   Estado - Sigla     664530 non-null  object
 2   Municipio          664530 non-null  object
 3   Revenda            664530 non-null  object
 4   CNPJ da Revenda    664530 non-null  object
 5   Nome da Rua        664530 non-null  object
 6   Numero Rua         664101 non-null  object
 7   Complemento        173830 non-null  object
 8   Bairro             662184 non-null  object
 9   Cep                664530 non-null  object
 10  Produto            664530 non-null  object
 11  Data da Coleta     664530 non-null  object
 12  Valor de Venda     664530 non-null  float64
 13  Valor de Compra    293307 non-null  float64
 14  Unidade de Medida  664530 non-null  object
 15  Bandeira           664530 non-null  object
dtypes: float64(2), object(14)
memory usage: 81.1+ MB

In [98]:
ca_2013_02 = pd.read_csv("rsc/ca-2013-02.csv", sep=';')

In [99]:
ca_2013_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,01/07/2013,"2,939","2,39",R$ / litro,BRANCA
1,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,01/07/2013,"2,2","2,013",R$ / litro,BRANCA
2,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL S10,01/07/2013,"2,469","2,1075",R$ / litro,BRANCA
3,S,RS,SANTA MARIA,SANTA LUCIA COMERCIO E PAVIMENTACOES LTDA,87.305.868/0001-88,RODOVIA RS 509,1200,KM 03,JOÃO GOULART,97095-000,GASOLINA,03/07/2013,"2,89",NaN,R$ / litro,COSAN LUBRIFICANTES
4,S,RS,SANTA MARIA,SANTA LUCIA COMERCIO E PAVIMENTACOES LTDA,87.305.868/0001-88,RODOVIA RS 509,1200,KM 03,JOÃO GOULART,97095-000,ETANOL,03/07/2013,"2,45",NaN,R$ / litro,COSAN LUBRIFICANTES

In [100]:
ca_2013_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699372 entries, 0 to 699371
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     699372 non-null  object
 1   Estado - Sigla     699372 non-null  object
 2   Municipio          699372 non-null  object
 3   Revenda            699372 non-null  object
 4   CNPJ da Revenda    699372 non-null  object
 5   Nome da Rua        699372 non-null  object
 6   Numero Rua         698917 non-null  object
 7   Complemento        184644 non-null  object
 8   Bairro             696923 non-null  object
 9   Cep                699372 non-null  object
 10  Produto            699372 non-null  object
 11  Data da Coleta     699372 non-null  object
 12  Valor de Venda     699372 non-null  object
 13  Valor de Compra    302797 non-null  object
 14  Unidade de Medida  699372 non-null  object
 15  Bandeira           699372 non-null  object
dtypes: object(16)
memory usage: 85.4+ MB

In [101]:
ca_2013_02['Valor de Venda'] = ca_2013_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2013_02['Valor de Compra'] = ca_2013_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [102]:
ca_2013_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699372 entries, 0 to 699371
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     699372 non-null  object
 1   Estado - Sigla     699372 non-null  object
 2   Municipio          699372 non-null  object
 3   Revenda            699372 non-null  object
 4   CNPJ da Revenda    699372 non-null  object
 5   Nome da Rua        699372 non-null  object
 6   Numero Rua         698917 non-null  object
 7   Complemento        184644 non-null  object
 8   Bairro             696923 non-null  object
 9   Cep                699372 non-null  object
 10  Produto            699372 non-null  object
 11  Data da Coleta     699372 non-null  object
 12  Valor de Venda     699372 non-null  float64
 13  Valor de Compra    302797 non-null  float64
 14  Unidade de Medida  699372 non-null  object
 15  Bandeira           699372 non-null  object
dtypes: float64(2), object(14)
memory usage: 85.4+ MB

#### 2014

In [103]:
ca_2014_01 = pd.read_csv("rsc/ca-2014-01.csv", sep=';')

In [104]:
ca_2014_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,02/01/2014,"2,899",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,02/01/2014,"1,949",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,02/01/2014,"2,399",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL S10,02/01/2014,"2,569",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,02/01/2014,"1,599",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.

In [105]:
ca_2014_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473636 entries, 0 to 473635
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     473636 non-null  object
 1   Estado - Sigla     473636 non-null  object
 2   Municipio          473636 non-null  object
 3   Revenda            473636 non-null  object
 4   CNPJ da Revenda    473636 non-null  object
 5   Nome da Rua        473636 non-null  object
 6   Numero Rua         473412 non-null  object
 7   Complemento        125453 non-null  object
 8   Bairro             471933 non-null  object
 9   Cep                473636 non-null  object
 10  Produto            473636 non-null  object
 11  Data da Coleta     473635 non-null  object
 12  Valor de Venda     473635 non-null  object
 13  Valor de Compra    197685 non-null  object
 14  Unidade de Medida  473635 non-null  object
 15  Bandeira           473635 non-null  object
dtypes: object(16)
memory usage: 57.8+ MB

In [106]:
ca_2014_01['Valor de Venda'] = ca_2014_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2014_01['Valor de Compra'] = ca_2014_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [107]:
ca_2014_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473636 entries, 0 to 473635
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     473636 non-null  object
 1   Estado - Sigla     473636 non-null  object
 2   Municipio          473636 non-null  object
 3   Revenda            473636 non-null  object
 4   CNPJ da Revenda    473636 non-null  object
 5   Nome da Rua        473636 non-null  object
 6   Numero Rua         473412 non-null  object
 7   Complemento        125453 non-null  object
 8   Bairro             471933 non-null  object
 9   Cep                473636 non-null  object
 10  Produto            473636 non-null  object
 11  Data da Coleta     473635 non-null  object
 12  Valor de Venda     473635 non-null  float64
 13  Valor de Compra    197685 non-null  float64
 14  Unidade de Medida  473635 non-null  object
 15  Bandeira           473635 non-null  object
dtypes: float64(2), object(14)
memory usage: 57.8+ MB

In [108]:
ca_2014_02 = pd.read_csv("rsc/ca-2014-02.csv", sep=';')

In [109]:
ca_2014_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,01/07/2014,"2,74","2,43",R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,01/07/2014,"1,74","1,5094",R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,01/07/2014,"2,36","2,1",R$ / litro,BRANCA
3,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,02/07/2014,"2,99",NaN,R$ / litro,BRANCA
4,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,ETANOL,02/07/2014,"2,19",NaN,R$ / litro,BRANCA

In [110]:
ca_2014_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723088 entries, 0 to 723087
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     723088 non-null  object
 1   Estado - Sigla     723088 non-null  object
 2   Municipio          723088 non-null  object
 3   Revenda            723088 non-null  object
 4   CNPJ da Revenda    723088 non-null  object
 5   Nome da Rua        723088 non-null  object
 6   Numero Rua         722776 non-null  object
 7   Complemento        188849 non-null  object
 8   Bairro             720559 non-null  object
 9   Cep                723088 non-null  object
 10  Produto            723088 non-null  object
 11  Data da Coleta     723088 non-null  object
 12  Valor de Venda     723088 non-null  object
 13  Valor de Compra    291490 non-null  object
 14  Unidade de Medida  723088 non-null  object
 15  Bandeira           723088 non-null  object
dtypes: object(16)
memory usage: 88.3+ MB

In [111]:
ca_2014_02['Valor de Venda'] = ca_2014_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2014_02['Valor de Compra'] = ca_2014_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [112]:
ca_2014_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723088 entries, 0 to 723087
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     723088 non-null  object
 1   Estado - Sigla     723088 non-null  object
 2   Municipio          723088 non-null  object
 3   Revenda            723088 non-null  object
 4   CNPJ da Revenda    723088 non-null  object
 5   Nome da Rua        723088 non-null  object
 6   Numero Rua         722776 non-null  object
 7   Complemento        188849 non-null  object
 8   Bairro             720559 non-null  object
 9   Cep                723088 non-null  object
 10  Produto            723088 non-null  object
 11  Data da Coleta     723088 non-null  object
 12  Valor de Venda     723088 non-null  float64
 13  Valor de Compra    291490 non-null  float64
 14  Unidade de Medida  723088 non-null  object
 15  Bandeira           723088 non-null  object
dtypes: float64(2), object(14)
memory usage: 88.3+ MB

#### 2015

In [113]:
ca_2015_01 = pd.read_csv("rsc/ca-2015-01.csv", sep=';')

In [114]:
ca_2015_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,N,AC,SENADOR GUIOMARD,AUTO POSTO SANTA RITA LTDA.,07.600.665/0001-85,AVENIDA CASTELO BRANCO,122,NaN,TRIUNFO,69925-000,GASOLINA,01/01/2015,"3,44",NaN,R$ / litro,DNP
1,N,AC,SENADOR GUIOMARD,AUTO POSTO SANTA RITA LTDA.,07.600.665/0001-85,AVENIDA CASTELO BRANCO,122,NaN,TRIUNFO,69925-000,ETANOL,01/01/2015,3,NaN,R$ / litro,DNP
2,N,AC,SENADOR GUIOMARD,AUTO POSTO SANTA RITA LTDA.,07.600.665/0001-85,AVENIDA CASTELO BRANCO,122,NaN,TRIUNFO,69925-000,DIESEL,01/01/2015,"3,1",NaN,R$ / litro,DNP
3,N,AC,SENADOR GUIOMARD,AUTO POSTO SANTA RITA LTDA.,07.600.665/0001-85,AVENIDA CASTELO BRANCO,122,NaN,TRIUNFO,69925-000,DIESEL S10,01/01/2015,"3,2",NaN,R$ / litro,DNP
4,N,AC,SENADOR GUIOMARD,AUTO POSTO QUINARI LTDA,10.209.732/0001-40,AVENIDA CASTELO BRANCO,2709,NaN,CENTRO,69925-000,GASOLINA,01/01/2015,"3,44","2,784",R$ / litro,SABBÁ

In [115]:
ca_2015_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696774 entries, 0 to 696773
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     696774 non-null  object
 1   Estado - Sigla     696774 non-null  object
 2   Municipio          696774 non-null  object
 3   Revenda            696774 non-null  object
 4   CNPJ da Revenda    696774 non-null  object
 5   Nome da Rua        696774 non-null  object
 6   Numero Rua         696341 non-null  object
 7   Complemento        181073 non-null  object
 8   Bairro             694242 non-null  object
 9   Cep                696774 non-null  object
 10  Produto            696774 non-null  object
 11  Data da Coleta     696774 non-null  object
 12  Valor de Venda     696774 non-null  object
 13  Valor de Compra    266617 non-null  object
 14  Unidade de Medida  696774 non-null  object
 15  Bandeira           696774 non-null  object
dtypes: object(16)
memory usage: 85.1+ MB

In [116]:
ca_2015_01['Valor de Venda'] = ca_2015_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2015_01['Valor de Compra'] = ca_2015_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [117]:
ca_2015_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696774 entries, 0 to 696773
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     696774 non-null  object
 1   Estado - Sigla     696774 non-null  object
 2   Municipio          696774 non-null  object
 3   Revenda            696774 non-null  object
 4   CNPJ da Revenda    696774 non-null  object
 5   Nome da Rua        696774 non-null  object
 6   Numero Rua         696341 non-null  object
 7   Complemento        181073 non-null  object
 8   Bairro             694242 non-null  object
 9   Cep                696774 non-null  object
 10  Produto            696774 non-null  object
 11  Data da Coleta     696774 non-null  object
 12  Valor de Venda     696774 non-null  float64
 13  Valor de Compra    266617 non-null  float64
 14  Unidade de Medida  696774 non-null  object
 15  Bandeira           696774 non-null  object
dtypes: float64(2), object(14)
memory usage: 85.1+ MB

In [118]:
ca_2015_02 = pd.read_csv("rsc/ca-2015-02.csv", sep=';')

In [119]:
ca_2015_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,01/07/2015,"3,59","3,0296",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,ETANOL,01/07/2015,"2,599","2,0941",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,DIESEL S10,01/07/2015,"2,89","2,687",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GNV,01/07/2015,"2,19","1,44",R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
4,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,01/07/2015,"3,39",NaN,R$ / litro,MAZP DISTRIBUIDORA

In [120]:
ca_2015_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410974 entries, 0 to 410973
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     410974 non-null  object
 1   Estado - Sigla     410974 non-null  object
 2   Municipio          410974 non-null  object
 3   Revenda            410974 non-null  object
 4   CNPJ da Revenda    410974 non-null  object
 5   Nome da Rua        410974 non-null  object
 6   Numero Rua         410697 non-null  object
 7   Complemento        104189 non-null  object
 8   Bairro             409723 non-null  object
 9   Cep                410974 non-null  object
 10  Produto            410974 non-null  object
 11  Data da Coleta     410974 non-null  object
 12  Valor de Venda     410974 non-null  object
 13  Valor de Compra    164426 non-null  object
 14  Unidade de Medida  410974 non-null  object
 15  Bandeira           410974 non-null  object
dtypes: object(16)
memory usage: 50.2+ MB

In [121]:
ca_2015_02['Valor de Venda'] = ca_2015_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2015_02['Valor de Compra'] = ca_2015_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [122]:
ca_2015_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410974 entries, 0 to 410973
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     410974 non-null  object
 1   Estado - Sigla     410974 non-null  object
 2   Municipio          410974 non-null  object
 3   Revenda            410974 non-null  object
 4   CNPJ da Revenda    410974 non-null  object
 5   Nome da Rua        410974 non-null  object
 6   Numero Rua         410697 non-null  object
 7   Complemento        104189 non-null  object
 8   Bairro             409723 non-null  object
 9   Cep                410974 non-null  object
 10  Produto            410974 non-null  object
 11  Data da Coleta     410974 non-null  object
 12  Valor de Venda     410974 non-null  float64
 13  Valor de Compra    164426 non-null  float64
 14  Unidade de Medida  410974 non-null  object
 15  Bandeira           410974 non-null  object
dtypes: float64(2), object(14)
memory usage: 50.2+ MB

#### 2016

In [123]:
ca_2016_01 = pd.read_csv("rsc/ca-2016-01.csv", sep=';')

In [124]:
ca_2016_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,06/01/2016,"3,31",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,06/01/2016,"2,31",NaN,R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,06/01/2016,"2,65",NaN,R$ / litro,BRANCA
3,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,04/01/2016,"3,69",NaN,R$ / litro,BRANCA
4,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,04/01/2016,"2,97",NaN,R$ / litro,BRANCA

In [125]:
ca_2016_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486897 entries, 0 to 486896
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     486897 non-null  object
 1   Estado - Sigla     486897 non-null  object
 2   Municipio          486897 non-null  object
 3   Revenda            486897 non-null  object
 4   CNPJ da Revenda    486897 non-null  object
 5   Nome da Rua        486897 non-null  object
 6   Numero Rua         486619 non-null  object
 7   Complemento        124413 non-null  object
 8   Bairro             485102 non-null  object
 9   Cep                486897 non-null  object
 10  Produto            486897 non-null  object
 11  Data da Coleta     486897 non-null  object
 12  Valor de Venda     486897 non-null  object
 13  Valor de Compra    191504 non-null  object
 14  Unidade de Medida  486897 non-null  object
 15  Bandeira           486897 non-null  object
dtypes: object(16)
memory usage: 59.4+ MB

In [126]:
ca_2016_01['Valor de Venda'] = ca_2016_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2016_01['Valor de Compra'] = ca_2016_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [127]:
ca_2016_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486897 entries, 0 to 486896
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     486897 non-null  object
 1   Estado - Sigla     486897 non-null  object
 2   Municipio          486897 non-null  object
 3   Revenda            486897 non-null  object
 4   CNPJ da Revenda    486897 non-null  object
 5   Nome da Rua        486897 non-null  object
 6   Numero Rua         486619 non-null  object
 7   Complemento        124413 non-null  object
 8   Bairro             485102 non-null  object
 9   Cep                486897 non-null  object
 10  Produto            486897 non-null  object
 11  Data da Coleta     486897 non-null  object
 12  Valor de Venda     486897 non-null  float64
 13  Valor de Compra    191504 non-null  float64
 14  Unidade de Medida  486897 non-null  object
 15  Bandeira           486897 non-null  object
dtypes: float64(2), object(14)
memory usage: 59.4+ MB

In [128]:
ca_2016_02 = pd.read_csv("rsc/ca-2016-02.csv", sep=';')

In [129]:
ca_2016_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,04/07/2016,"3,29",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,04/07/2016,"2,04",NaN,R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL,04/07/2016,"2,79",NaN,R$ / litro,BRANCA
3,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GASOLINA,05/07/2016,"3,65","3,23",R$ / litro,BRANCA
4,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,ETANOL,05/07/2016,"3,15","2,6448",R$ / litro,BRANCA

In [130]:
ca_2016_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488960 entries, 0 to 488959
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     488960 non-null  object
 1   Estado - Sigla     488960 non-null  object
 2   Municipio          488960 non-null  object
 3   Revenda            488960 non-null  object
 4   CNPJ da Revenda    488960 non-null  object
 5   Nome da Rua        488960 non-null  object
 6   Numero Rua         488667 non-null  object
 7   Complemento        126566 non-null  object
 8   Bairro             487003 non-null  object
 9   Cep                488960 non-null  object
 10  Produto            488960 non-null  object
 11  Data da Coleta     488960 non-null  object
 12  Valor de Venda     488960 non-null  object
 13  Valor de Compra    228284 non-null  object
 14  Unidade de Medida  488960 non-null  object
 15  Bandeira           488960 non-null  object
dtypes: object(16)
memory usage: 59.7+ MB

In [131]:
ca_2016_02['Valor de Venda'] = ca_2016_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2016_02['Valor de Compra'] = ca_2016_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [132]:
ca_2016_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488960 entries, 0 to 488959
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     488960 non-null  object
 1   Estado - Sigla     488960 non-null  object
 2   Municipio          488960 non-null  object
 3   Revenda            488960 non-null  object
 4   CNPJ da Revenda    488960 non-null  object
 5   Nome da Rua        488960 non-null  object
 6   Numero Rua         488667 non-null  object
 7   Complemento        126566 non-null  object
 8   Bairro             487003 non-null  object
 9   Cep                488960 non-null  object
 10  Produto            488960 non-null  object
 11  Data da Coleta     488960 non-null  object
 12  Valor de Venda     488960 non-null  float64
 13  Valor de Compra    228284 non-null  float64
 14  Unidade de Medida  488960 non-null  object
 15  Bandeira           488960 non-null  object
dtypes: float64(2), object(14)
memory usage: 59.7+ MB

#### 2017

In [133]:
ca_2017_01 = pd.read_csv("rsc/ca-2017-01.csv", sep=';')

In [134]:
ca_2017_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,03/01/2017,"3,699","3,1874",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,03/01/2017,"2,899","2,4963",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL,03/01/2017,"2,959","2,5284",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL S10,03/01/2017,"3,079","2,6658",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,03/01/2017,"2,099",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.

In [135]:
ca_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487659 entries, 0 to 487658
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     487659 non-null  object
 1   Estado - Sigla     487659 non-null  object
 2   Municipio          487659 non-null  object
 3   Revenda            487659 non-null  object
 4   CNPJ da Revenda    487659 non-null  object
 5   Nome da Rua        487659 non-null  object
 6   Numero Rua         487438 non-null  object
 7   Complemento        128668 non-null  object
 8   Bairro             485899 non-null  object
 9   Cep                487659 non-null  object
 10  Produto            487659 non-null  object
 11  Data da Coleta     487659 non-null  object
 12  Valor de Venda     487659 non-null  object
 13  Valor de Compra    224745 non-null  object
 14  Unidade de Medida  487659 non-null  object
 15  Bandeira           487659 non-null  object
dtypes: object(16)
memory usage: 59.5+ MB

In [136]:
ca_2017_01['Valor de Venda'] = ca_2017_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2017_01['Valor de Compra'] = ca_2017_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [137]:
ca_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487659 entries, 0 to 487658
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     487659 non-null  object
 1   Estado - Sigla     487659 non-null  object
 2   Municipio          487659 non-null  object
 3   Revenda            487659 non-null  object
 4   CNPJ da Revenda    487659 non-null  object
 5   Nome da Rua        487659 non-null  object
 6   Numero Rua         487438 non-null  object
 7   Complemento        128668 non-null  object
 8   Bairro             485899 non-null  object
 9   Cep                487659 non-null  object
 10  Produto            487659 non-null  object
 11  Data da Coleta     487659 non-null  object
 12  Valor de Venda     487659 non-null  float64
 13  Valor de Compra    224745 non-null  float64
 14  Unidade de Medida  487659 non-null  object
 15  Bandeira           487659 non-null  object
dtypes: float64(2), object(14)
memory usage: 59.5+ MB

In [138]:
ca_2017_02 = pd.read_csv("rsc/ca-2017-02.csv", sep=';')

In [139]:
ca_2017_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,06/07/2017,"3,11",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,06/07/2017,"2,02",NaN,R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL S10,06/07/2017,"2,86",NaN,R$ / litro,BRANCA
3,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,05/07/2017,"3,599",NaN,R$ / litro,BRANCA
4,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,DIESEL,05/07/2017,"2,87",NaN,R$ / litro,BRANCA

In [140]:
ca_2017_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300947 entries, 0 to 300946
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     300947 non-null  object
 1   Estado - Sigla     300947 non-null  object
 2   Municipio          300947 non-null  object
 3   Revenda            300947 non-null  object
 4   CNPJ da Revenda    300947 non-null  object
 5   Nome da Rua        300947 non-null  object
 6   Numero Rua         300761 non-null  object
 7   Complemento        77397 non-null   object
 8   Bairro             299989 non-null  object
 9   Cep                300947 non-null  object
 10  Produto            300947 non-null  object
 11  Data da Coleta     300947 non-null  object
 12  Valor de Venda     300947 non-null  object
 13  Valor de Compra    131020 non-null  object
 14  Unidade de Medida  300947 non-null  object
 15  Bandeira           300947 non-null  object
dtypes: object(16)
memory usage: 36.7+ MB

In [141]:
ca_2017_02['Valor de Venda'] = ca_2017_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2017_02['Valor de Compra'] = ca_2017_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [142]:
ca_2017_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300947 entries, 0 to 300946
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     300947 non-null  object
 1   Estado - Sigla     300947 non-null  object
 2   Municipio          300947 non-null  object
 3   Revenda            300947 non-null  object
 4   CNPJ da Revenda    300947 non-null  object
 5   Nome da Rua        300947 non-null  object
 6   Numero Rua         300761 non-null  object
 7   Complemento        77397 non-null   object
 8   Bairro             299989 non-null  object
 9   Cep                300947 non-null  object
 10  Produto            300947 non-null  object
 11  Data da Coleta     300947 non-null  object
 12  Valor de Venda     300947 non-null  float64
 13  Valor de Compra    131020 non-null  float64
 14  Unidade de Medida  300947 non-null  object
 15  Bandeira           300947 non-null  object
dtypes: float64(2), object(14)
memory usage: 36.7+ MB

#### 2018

In [143]:
ca_2018_01 = pd.read_csv("rsc/ca-2018-01.csv", sep=';')

In [144]:
ca_2018_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GNV,02/01/2018,"2,37","1,7383",R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
1,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,DIESEL S10,02/01/2018,"3,24","3,1366",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,ETANOL,02/01/2018,"2,93","2,6194",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,02/01/2018,"3,62","3,6017",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GNV,02/01/2018,"2,699",NaN,R$ / m³,BRANCA

In [145]:
ca_2018_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469833 entries, 0 to 469832
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     469833 non-null  object
 1   Estado - Sigla     469833 non-null  object
 2   Municipio          469833 non-null  object
 3   Revenda            469833 non-null  object
 4   CNPJ da Revenda    469833 non-null  object
 5   Nome da Rua        469833 non-null  object
 6   Numero Rua         469485 non-null  object
 7   Complemento        123062 non-null  object
 8   Bairro             468412 non-null  object
 9   Cep                469833 non-null  object
 10  Produto            469833 non-null  object
 11  Data da Coleta     469833 non-null  object
 12  Valor de Venda     469833 non-null  object
 13  Valor de Compra    188187 non-null  object
 14  Unidade de Medida  469833 non-null  object
 15  Bandeira           469833 non-null  object
dtypes: object(16)
memory usage: 57.4+ MB

In [146]:
ca_2018_01['Valor de Venda'] = ca_2018_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2018_01['Valor de Compra'] = ca_2018_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [147]:
ca_2018_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469833 entries, 0 to 469832
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     469833 non-null  object
 1   Estado - Sigla     469833 non-null  object
 2   Municipio          469833 non-null  object
 3   Revenda            469833 non-null  object
 4   CNPJ da Revenda    469833 non-null  object
 5   Nome da Rua        469833 non-null  object
 6   Numero Rua         469485 non-null  object
 7   Complemento        123062 non-null  object
 8   Bairro             468412 non-null  object
 9   Cep                469833 non-null  object
 10  Produto            469833 non-null  object
 11  Data da Coleta     469833 non-null  object
 12  Valor de Venda     469833 non-null  float64
 13  Valor de Compra    188187 non-null  float64
 14  Unidade de Medida  469833 non-null  object
 15  Bandeira           469833 non-null  object
dtypes: float64(2), object(14)
memory usage: 57.4+ MB

In [148]:
ca_2018_02 = pd.read_csv("rsc/ca-2018-02.csv", sep=';')

In [149]:
ca_2018_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,04/07/2018,"4,54",NaN,R$ / litro,RODOIL
1,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,ETANOL,04/07/2018,"3,12",NaN,R$ / litro,RODOIL
2,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,DIESEL S10,04/07/2018,"3,3",NaN,R$ / litro,RODOIL
3,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,GASOLINA,02/07/2018,"4,699",NaN,R$ / litro,RAIZEN
4,S,RS,PORTO ALEGRE,COMERCIAL DE COMBUSTIVEIS TK LTDA,91.438.796/0001-14,RUA EDUARDO PRADO,415,CAVALHADA,CAVALHADA,91751-000,DIESEL,02/07/2018,"3,299",NaN,R$ / litro,RAIZEN

In [150]:
ca_2018_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493169 entries, 0 to 493168
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     493169 non-null  object
 1   Estado - Sigla     493169 non-null  object
 2   Municipio          493169 non-null  object
 3   Revenda            493169 non-null  object
 4   CNPJ da Revenda    493169 non-null  object
 5   Nome da Rua        493169 non-null  object
 6   Numero Rua         492723 non-null  object
 7   Complemento        127534 non-null  object
 8   Bairro             491632 non-null  object
 9   Cep                493169 non-null  object
 10  Produto            493169 non-null  object
 11  Data da Coleta     493169 non-null  object
 12  Valor de Venda     493169 non-null  object
 13  Valor de Compra    198303 non-null  object
 14  Unidade de Medida  493169 non-null  object
 15  Bandeira           493169 non-null  object
dtypes: object(16)
memory usage: 60.2+ MB

In [151]:
ca_2018_02['Valor de Venda'] = ca_2018_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2018_02['Valor de Compra'] = ca_2018_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [152]:
ca_2018_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493169 entries, 0 to 493168
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     493169 non-null  object
 1   Estado - Sigla     493169 non-null  object
 2   Municipio          493169 non-null  object
 3   Revenda            493169 non-null  object
 4   CNPJ da Revenda    493169 non-null  object
 5   Nome da Rua        493169 non-null  object
 6   Numero Rua         492723 non-null  object
 7   Complemento        127534 non-null  object
 8   Bairro             491632 non-null  object
 9   Cep                493169 non-null  object
 10  Produto            493169 non-null  object
 11  Data da Coleta     493169 non-null  object
 12  Valor de Venda     493169 non-null  float64
 13  Valor de Compra    198303 non-null  float64
 14  Unidade de Medida  493169 non-null  object
 15  Bandeira           493169 non-null  object
dtypes: float64(2), object(14)
memory usage: 60.2+ MB

#### 2019

In [153]:
ca_2019_01 = pd.read_csv("rsc/ca-2019-01.csv", sep=';')

In [154]:
ca_2019_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,03/01/2019,"4,199","3,5766",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,03/01/2019,"2,899","2,3513",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL S10,03/01/2019,"3,349","2,8841",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,03/01/2019,"2,439",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
4,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GASOLINA,02/01/2019,"4,399","3,855",R$ / litro,BRANCA

In [155]:
ca_2019_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496730 entries, 0 to 496729
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     496730 non-null  object
 1   Estado - Sigla     496730 non-null  object
 2   Municipio          496730 non-null  object
 3   Revenda            496730 non-null  object
 4   CNPJ da Revenda    496730 non-null  object
 5   Nome da Rua        496730 non-null  object
 6   Numero Rua         496355 non-null  object
 7   Complemento        129327 non-null  object
 8   Bairro             494911 non-null  object
 9   Cep                496730 non-null  object
 10  Produto            496730 non-null  object
 11  Data da Coleta     496730 non-null  object
 12  Valor de Venda     496730 non-null  object
 13  Valor de Compra    191139 non-null  object
 14  Unidade de Medida  496730 non-null  object
 15  Bandeira           496730 non-null  object
dtypes: object(16)
memory usage: 60.6+ MB

In [156]:
ca_2019_01['Valor de Venda'] = ca_2019_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2019_01['Valor de Compra'] = ca_2019_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [157]:
ca_2019_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496730 entries, 0 to 496729
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     496730 non-null  object
 1   Estado - Sigla     496730 non-null  object
 2   Municipio          496730 non-null  object
 3   Revenda            496730 non-null  object
 4   CNPJ da Revenda    496730 non-null  object
 5   Nome da Rua        496730 non-null  object
 6   Numero Rua         496355 non-null  object
 7   Complemento        129327 non-null  object
 8   Bairro             494911 non-null  object
 9   Cep                496730 non-null  object
 10  Produto            496730 non-null  object
 11  Data da Coleta     496730 non-null  object
 12  Valor de Venda     496730 non-null  float64
 13  Valor de Compra    191139 non-null  float64
 14  Unidade de Medida  496730 non-null  object
 15  Bandeira           496730 non-null  object
dtypes: float64(2), object(14)
memory usage: 60.6+ MB

In [160]:
ca_2019_02 = pd.read_csv("rsc/ca-2019-02.csv", sep=';')

In [161]:
ca_2019_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GASOLINA,01/07/2019,"4,259",NaN,R$ / litro,BRANCA
1,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,ETANOL,01/07/2019,"4,099",NaN,R$ / litro,BRANCA
2,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,NaN,CENTRO,92310-000,GNV,01/07/2019,"3,449",NaN,R$ / m³,BRANCA
3,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,GASOLINA,01/07/2019,"4,69",NaN,R$ / litro,BRANCA
4,NE,BA,ITABUNA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA,00.231.792/0001-05,RODOVIA BR 101,SN,KM 503 5,MANOEL LEAO,45601-402,ETANOL,01/07/2019,"3,49",NaN,R$ / litro,BRANCA

In [162]:
ca_2019_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507299 entries, 0 to 507298
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     507299 non-null  object
 1   Estado - Sigla     507299 non-null  object
 2   Municipio          507299 non-null  object
 3   Revenda            507299 non-null  object
 4   CNPJ da Revenda    507299 non-null  object
 5   Nome da Rua        507299 non-null  object
 6   Numero Rua         507062 non-null  object
 7   Complemento        132458 non-null  object
 8   Bairro             505329 non-null  object
 9   Cep                507299 non-null  object
 10  Produto            507299 non-null  object
 11  Data da Coleta     507299 non-null  object
 12  Valor de Venda     507299 non-null  object
 13  Valor de Compra    190730 non-null  object
 14  Unidade de Medida  507299 non-null  object
 15  Bandeira           507299 non-null  object
dtypes: object(16)
memory usage: 61.9+ MB

In [163]:
ca_2019_02['Valor de Venda'] = ca_2019_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2019_02['Valor de Compra'] = ca_2019_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [164]:
ca_2019_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507299 entries, 0 to 507298
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     507299 non-null  object
 1   Estado - Sigla     507299 non-null  object
 2   Municipio          507299 non-null  object
 3   Revenda            507299 non-null  object
 4   CNPJ da Revenda    507299 non-null  object
 5   Nome da Rua        507299 non-null  object
 6   Numero Rua         507062 non-null  object
 7   Complemento        132458 non-null  object
 8   Bairro             505329 non-null  object
 9   Cep                507299 non-null  object
 10  Produto            507299 non-null  object
 11  Data da Coleta     507299 non-null  object
 12  Valor de Venda     507299 non-null  float64
 13  Valor de Compra    190730 non-null  float64
 14  Unidade de Medida  507299 non-null  object
 15  Bandeira           507299 non-null  object
dtypes: float64(2), object(14)
memory usage: 61.9+ MB

#### 2020

In [166]:
ca_2020_01 = pd.read_csv("rsc/ca-2020-01.csv", sep=';')

In [167]:
ca_2020_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GASOLINA,03/01/2020,"4,399",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,ETANOL,03/01/2020,"3,199",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,DIESEL S10,03/01/2020,"3,899",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,SE,SP,GUARULHOS,AUTO POSTO SAKAMOTO LTDA,49.051.667/0001-02,RODOVIA PRESIDENTE DUTRA,S/N,"KM 210,5-SENT SP/RJ",BONSUCESSO,07178-580,GNV,03/01/2020,"2,995",NaN,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
4,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,03/01/2020,"4,69","4,1743",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [168]:
ca_2020_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496663 entries, 0 to 496662
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     496663 non-null  object
 1   Estado - Sigla     496663 non-null  object
 2   Municipio          496663 non-null  object
 3   Revenda            496663 non-null  object
 4   CNPJ da Revenda    496663 non-null  object
 5   Nome da Rua        496663 non-null  object
 6   Numero Rua         496316 non-null  object
 7   Complemento        129458 non-null  object
 8   Bairro             494708 non-null  object
 9   Cep                496663 non-null  object
 10  Produto            496663 non-null  object
 11  Data da Coleta     496663 non-null  object
 12  Valor de Venda     496663 non-null  object
 13  Valor de Compra    128975 non-null  object
 14  Unidade de Medida  496663 non-null  object
 15  Bandeira           496663 non-null  object
dtypes: object(16)
memory usage: 60.6+ MB

In [169]:
ca_2020_01['Valor de Venda'] = ca_2020_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2020_01['Valor de Compra'] = ca_2020_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [170]:
ca_2020_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496663 entries, 0 to 496662
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     496663 non-null  object
 1   Estado - Sigla     496663 non-null  object
 2   Municipio          496663 non-null  object
 3   Revenda            496663 non-null  object
 4   CNPJ da Revenda    496663 non-null  object
 5   Nome da Rua        496663 non-null  object
 6   Numero Rua         496316 non-null  object
 7   Complemento        129458 non-null  object
 8   Bairro             494708 non-null  object
 9   Cep                496663 non-null  object
 10  Produto            496663 non-null  object
 11  Data da Coleta     496663 non-null  object
 12  Valor de Venda     496663 non-null  float64
 13  Valor de Compra    128975 non-null  float64
 14  Unidade de Medida  496663 non-null  object
 15  Bandeira           496663 non-null  object
dtypes: float64(2), object(14)
memory usage: 60.6+ MB

In [171]:
ca_2020_02 = pd.read_csv("rsc/ca-2020-02.csv", sep=';')

C:\Users\mclar\AppData\Local\Temp\ipykernel_20348\2307808660.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_2020_02 = pd.read_csv("rsc/ca-2020-02.csv", sep=';')

In [172]:
ca_2020_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,01/07/2020,"3,559","3,253",R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,01/07/2020,"2,329","2,1193",R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL S10,01/07/2020,"2,859",NaN,R$ / litro,BRANCA
3,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,GASOLINA,02/07/2020,"4,29","3,7676",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,NaN,STIEP,41770-395,ETANOL,02/07/2020,"3,29","2,6651",R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [173]:
ca_2020_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222637 entries, 0 to 222636
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     222637 non-null  object
 1   Estado - Sigla     222637 non-null  object
 2   Municipio          222637 non-null  object
 3   Revenda            222637 non-null  object
 4   CNPJ da Revenda    222637 non-null  object
 5   Nome da Rua        222637 non-null  object
 6   Numero Rua         222465 non-null  object
 7   Complemento        54744 non-null   object
 8   Bairro             221986 non-null  object
 9   Cep                222637 non-null  object
 10  Produto            222637 non-null  object
 11  Data da Coleta     222637 non-null  object
 12  Valor de Venda     222637 non-null  object
 13  Valor de Compra    27037 non-null   object
 14  Unidade de Medida  222637 non-null  object
 15  Bandeira           222637 non-null  object
dtypes: object(16)
memory usage: 27.2+ MB

In [174]:
ca_2020_02['Valor de Venda'] = ca_2020_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)
ca_2020_02['Valor de Compra'] = ca_2020_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [175]:
ca_2020_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222637 entries, 0 to 222636
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     222637 non-null  object
 1   Estado - Sigla     222637 non-null  object
 2   Municipio          222637 non-null  object
 3   Revenda            222637 non-null  object
 4   CNPJ da Revenda    222637 non-null  object
 5   Nome da Rua        222637 non-null  object
 6   Numero Rua         222465 non-null  object
 7   Complemento        54744 non-null   object
 8   Bairro             221986 non-null  object
 9   Cep                222637 non-null  object
 10  Produto            222637 non-null  object
 11  Data da Coleta     222637 non-null  object
 12  Valor de Venda     222637 non-null  float64
 13  Valor de Compra    27037 non-null   float64
 14  Unidade de Medida  222637 non-null  object
 15  Bandeira           222637 non-null  object
dtypes: float64(2), object(14)
memory usage: 27.2+ MB

#### 2021

In [176]:
ca_2021_01 = pd.read_csv("rsc/ca-2021-01.csv", sep=';')

In [177]:
ca_2021_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,GASOLINA,01/01/2021,"4,599",NaN,R$ / litro,BRANCA
1,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,ETANOL,01/01/2021,"4,199",NaN,R$ / litro,BRANCA
2,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,GASOLINA ADITIVADA,01/01/2021,"4,799",NaN,R$ / litro,BRANCA
3,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,DIESEL,01/01/2021,"3,499",NaN,R$ / litro,BRANCA
4,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,DIESEL S10,01/01/2021,"3,599",NaN,R$ / litro,BRANCA

In [178]:
ca_2021_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334681 entries, 0 to 334680
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     334681 non-null  object
 1   Estado - Sigla     334681 non-null  object
 2   Municipio          334681 non-null  object
 3   Revenda            334681 non-null  object
 4   CNPJ da Revenda    334681 non-null  object
 5   Nome da Rua        334681 non-null  object
 6   Numero Rua         334558 non-null  object
 7   Complemento        68732 non-null   object
 8   Bairro             334071 non-null  object
 9   Cep                334681 non-null  object
 10  Produto            334681 non-null  object
 11  Data da Coleta     334681 non-null  object
 12  Valor de Venda     334681 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  334681 non-null  object
 15  Bandeira           334681 non-null  object
dtypes: float64(1), object(15)
memory usage: 40.9+ MB

In [179]:
ca_2021_01['Valor de Venda'] = ca_2021_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)

In [180]:
ca_2021_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334681 entries, 0 to 334680
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     334681 non-null  object
 1   Estado - Sigla     334681 non-null  object
 2   Municipio          334681 non-null  object
 3   Revenda            334681 non-null  object
 4   CNPJ da Revenda    334681 non-null  object
 5   Nome da Rua        334681 non-null  object
 6   Numero Rua         334558 non-null  object
 7   Complemento        68732 non-null   object
 8   Bairro             334071 non-null  object
 9   Cep                334681 non-null  object
 10  Produto            334681 non-null  object
 11  Data da Coleta     334681 non-null  object
 12  Valor de Venda     334681 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  334681 non-null  object
 15  Bandeira           334681 non-null  object
dtypes: float64(2), object(14)
memory usage: 40.9+ MB

In [185]:
ca_2021_02 = pd.read_csv("rsc/ca-2021-02.csv")

In [186]:
ca_2021_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA ADITIVADA,01/07/2021,"5,699",NaN,R$ / litro,IPIRANGA
1,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro,IPIRANGA
2,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,DIESEL S10,01/07/2021,"4,699",NaN,R$ / litro,IPIRANGA
3,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,ETANOL,01/07/2021,"5,2",NaN,R$ / litro,IPIRANGA
4,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,GASOLINA,01/07/2021,"5,49",NaN,R$ / litro,VIBRA ENERGIA

In [187]:
ca_2021_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472856 entries, 0 to 472855
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     472856 non-null  object
 1   Estado - Sigla     472856 non-null  object
 2   Municipio          472856 non-null  object
 3   Revenda            472856 non-null  object
 4   CNPJ da Revenda    472856 non-null  object
 5   Nome da Rua        472856 non-null  object
 6   Numero Rua         472664 non-null  object
 7   Complemento        95775 non-null   object
 8   Bairro             471737 non-null  object
 9   Cep                472856 non-null  object
 10  Produto            472856 non-null  object
 11  Data da Coleta     472856 non-null  object
 12  Valor de Venda     472856 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  472856 non-null  object
 15  Bandeira           472856 non-null  object
dtypes: float64(1), object(15)
memory usage: 57.7+ MB

In [188]:
ca_2021_02['Valor de Venda'] = ca_2021_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)

In [189]:
ca_2021_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472856 entries, 0 to 472855
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     472856 non-null  object
 1   Estado - Sigla     472856 non-null  object
 2   Municipio          472856 non-null  object
 3   Revenda            472856 non-null  object
 4   CNPJ da Revenda    472856 non-null  object
 5   Nome da Rua        472856 non-null  object
 6   Numero Rua         472664 non-null  object
 7   Complemento        95775 non-null   object
 8   Bairro             471737 non-null  object
 9   Cep                472856 non-null  object
 10  Produto            472856 non-null  object
 11  Data da Coleta     472856 non-null  object
 12  Valor de Venda     472856 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  472856 non-null  object
 15  Bandeira           472856 non-null  object
dtypes: float64(2), object(14)
memory usage: 57.7+ MB

#### 2022

In [191]:
ca_2022_01 = pd.read_csv("rsc/ca-2022-01.csv", sep=';')

In [192]:
ca_2022_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,GASOLINA,03/01/2022,"6,99",NaN,R$ / litro,VIBRA ENERGIA
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,ETANOL,03/01/2022,"5,99",NaN,R$ / litro,VIBRA ENERGIA
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,DIESEL,03/01/2022,"6,09",NaN,R$ / litro,VIBRA ENERGIA
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,GASOLINA ADITIVADA,03/01/2022,"7,05",NaN,R$ / litro,VIBRA ENERGIA
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,DIESEL S10,03/01/2022,"6,12",NaN,R$ / litro,VIBRA ENERGIA

In [193]:
ca_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529424 entries, 0 to 529423
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     529424 non-null  object
 1   Estado - Sigla     529424 non-null  object
 2   Municipio          529424 non-null  object
 3   Revenda            529424 non-null  object
 4   CNPJ da Revenda    529424 non-null  object
 5   Nome da Rua        529424 non-null  object
 6   Numero Rua         529211 non-null  object
 7   Complemento        113936 non-null  object
 8   Bairro             527991 non-null  object
 9   Cep                529424 non-null  object
 10  Produto            529424 non-null  object
 11  Data da Coleta     529424 non-null  object
 12  Valor de Venda     529424 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  529424 non-null  object
 15  Bandeira           529424 non-null  object
dtypes: float64(1), object(15)
memory usage: 64.6+ MB

In [194]:
ca_2022_01['Valor de Venda'] = ca_2022_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)

In [195]:
ca_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529424 entries, 0 to 529423
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     529424 non-null  object
 1   Estado - Sigla     529424 non-null  object
 2   Municipio          529424 non-null  object
 3   Revenda            529424 non-null  object
 4   CNPJ da Revenda    529424 non-null  object
 5   Nome da Rua        529424 non-null  object
 6   Numero Rua         529211 non-null  object
 7   Complemento        113936 non-null  object
 8   Bairro             527991 non-null  object
 9   Cep                529424 non-null  object
 10  Produto            529424 non-null  object
 11  Data da Coleta     529424 non-null  object
 12  Valor de Venda     529424 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  529424 non-null  object
 15  Bandeira           529424 non-null  object
dtypes: float64(2), object(14)
memory usage: 64.6+ MB

In [196]:
ca_2022_02 = pd.read_csv("rsc/ca-2022-02.csv", sep=';')

In [197]:
ca_2022_02.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA,01/07/2022,"7,38",NaN,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,DIESEL S10,01/07/2022,"7,69",NaN,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,"5,99",NaN,R$ / litro,VIBRA ENERGIA
4,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,"7,39",NaN,R$ / litro,VIBRA ENERGIA

In [198]:
ca_2022_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378078 entries, 0 to 378077
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     378078 non-null  object
 1   Estado - Sigla     378078 non-null  object
 2   Municipio          378078 non-null  object
 3   Revenda            378078 non-null  object
 4   CNPJ da Revenda    378078 non-null  object
 5   Nome da Rua        378078 non-null  object
 6   Numero Rua         377902 non-null  object
 7   Complemento        81264 non-null   object
 8   Bairro             377177 non-null  object
 9   Cep                378078 non-null  object
 10  Produto            378078 non-null  object
 11  Data da Coleta     378078 non-null  object
 12  Valor de Venda     378078 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  378078 non-null  object
 15  Bandeira           378078 non-null  object
dtypes: float64(1), object(15)
memory usage: 46.2+ MB

In [199]:
ca_2022_02['Valor de Venda'] = ca_2022_02['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)

In [200]:
ca_2022_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378078 entries, 0 to 378077
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     378078 non-null  object
 1   Estado - Sigla     378078 non-null  object
 2   Municipio          378078 non-null  object
 3   Revenda            378078 non-null  object
 4   CNPJ da Revenda    378078 non-null  object
 5   Nome da Rua        378078 non-null  object
 6   Numero Rua         377902 non-null  object
 7   Complemento        81264 non-null   object
 8   Bairro             377177 non-null  object
 9   Cep                378078 non-null  object
 10  Produto            378078 non-null  object
 11  Data da Coleta     378078 non-null  object
 12  Valor de Venda     378078 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  378078 non-null  object
 15  Bandeira           378078 non-null  object
dtypes: float64(2), object(14)
memory usage: 46.2+ MB

#### 2023

In [203]:
ca_2023_01 = pd.read_csv("rsc/ca-2023-01.csv", sep=';')

In [204]:
ca_2023_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,03/01/2023,"3,39",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,DIESEL S10,03/01/2023,"6,21",NaN,R$ / litro,BRANCA
2,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,03/01/2023,"4,39",NaN,R$ / litro,BRANCA
3,NE,AL,ARAPIRACA,COMERCIAL DE COMBUSTIVEIS E LUBRIFICANTES VITA...,02.817.655/0001-82,RODOVIA AL 220 - KM 06,S/N,NaN,PLANALTO,57308-000,ETANOL,02/01/2023,"3,89",NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,COMERCIAL DE COMBUSTIVEIS E LUBRIFICANTES VITA...,02.817.655/0001-82,RODOVIA AL 220 - KM 06,S/N,NaN,PLANALTO,57308-000,DIESEL,02/01/2023,"6,49",NaN,R$ / litro,VIBRA ENERGIA

In [205]:
ca_2023_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431576 entries, 0 to 431575
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     431576 non-null  object
 1   Estado - Sigla     431576 non-null  object
 2   Municipio          431576 non-null  object
 3   Revenda            431576 non-null  object
 4   CNPJ da Revenda    431576 non-null  object
 5   Nome da Rua        431576 non-null  object
 6   Numero Rua         431469 non-null  object
 7   Complemento        98576 non-null   object
 8   Bairro             430748 non-null  object
 9   Cep                431576 non-null  object
 10  Produto            431576 non-null  object
 11  Data da Coleta     431576 non-null  object
 12  Valor de Venda     431576 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  431576 non-null  object
 15  Bandeira           431576 non-null  object
dtypes: float64(1), object(15)
memory usage: 52.7+ MB

In [206]:
ca_2023_01['Valor de Venda'] = ca_2023_01['Valor de Venda'].str.replace(',', '.', regex=True).astype(float)

In [207]:
ca_2023_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431576 entries, 0 to 431575
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     431576 non-null  object
 1   Estado - Sigla     431576 non-null  object
 2   Municipio          431576 non-null  object
 3   Revenda            431576 non-null  object
 4   CNPJ da Revenda    431576 non-null  object
 5   Nome da Rua        431576 non-null  object
 6   Numero Rua         431469 non-null  object
 7   Complemento        98576 non-null   object
 8   Bairro             430748 non-null  object
 9   Cep                431576 non-null  object
 10  Produto            431576 non-null  object
 11  Data da Coleta     431576 non-null  object
 12  Valor de Venda     431576 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  431576 non-null  object
 15  Bandeira           431576 non-null  object
dtypes: float64(2), object(14)
memory usage: 52.7+ MB

#### Cocatenação

In [208]:
ca_2004 = pd.concat([ca_2004_01, ca_2004_02])
caminho_04 = 'anos_concatenados/ca_2004.csv'
ca_2004.to_csv(caminho_04, index=False)

In [209]:
ca_2005 = pd.concat([ca_2005_01, ca_2005_02])
caminho_05 = 'anos_concatenados/ca_2005.csv'
ca_2005.to_csv(caminho_05, index=False)

In [210]:
ca_2006 = pd.concat([ca_2006_01, ca_2006_02])
caminho_06 = 'anos_concatenados/ca_2006.csv'
ca_2006.to_csv(caminho_06, index=False)

In [211]:
ca_2007 = pd.concat([ca_2007_01, ca_2007_02])
caminho_07 = 'anos_concatenados/ca_2007.csv'
ca_2007.to_csv(caminho_07, index=False)

In [212]:
ca_2008 = pd.concat([ca_2008_01, ca_2008_02])
caminho_08 = 'anos_concatenados/ca_2008.csv'
ca_2008.to_csv(caminho_08, index=False)

In [213]:
ca_2009 = pd.concat([ca_2009_01, ca_2009_02])
caminho_09 = 'anos_concatenados/ca_2009.csv'
ca_2009.to_csv(caminho_09, index=False)

In [214]:
ca_2010 = pd.concat([ca_2010_01, ca_2010_02])
caminho_10 = 'anos_concatenados/ca_2010.csv'
ca_2010.to_csv(caminho_10, index=False)

In [215]:
ca_2011 = pd.concat([ca_2011_01, ca_2011_02])
caminho_11 = 'anos_concatenados/ca_2011.csv'
ca_2011.to_csv(caminho_11, index=False)

In [216]:
ca_2012 = pd.concat([ca_2012_01, ca_2012_02])
caminho_12 = 'anos_concatenados/ca_2012.csv'
ca_2012.to_csv(caminho_12, index=False)

In [217]:
ca_2013 = pd.concat([ca_2013_01, ca_2013_02])
caminho_13 = 'anos_concatenados/ca_2013.csv'
ca_2013.to_csv(caminho_13, index=False)

In [218]:
ca_2014 = pd.concat([ca_2014_01, ca_2014_02])
caminho_14 = 'anos_concatenados/ca_2014.csv'
ca_2014.to_csv(caminho_14, index=False)

In [219]:
ca_2015 = pd.concat([ca_2015_01, ca_2015_02])
caminho_15 = 'anos_concatenados/ca_2015.csv'
ca_2015.to_csv(caminho_15, index=False)

In [220]:
ca_2016 = pd.concat([ca_2016_01, ca_2016_02])
caminho_16 = 'anos_concatenados/ca_2016.csv'
ca_2016.to_csv(caminho_16, index=False)

In [221]:
ca_2017 = pd.concat([ca_2017_01, ca_2017_02])
caminho_17 = 'anos_concatenados/ca_2017.csv'
ca_2017.to_csv(caminho_17, index=False)

In [222]:
ca_2018 = pd.concat([ca_2018_01, ca_2018_02])
caminho_18 = 'anos_concatenados/ca_2018.csv'
ca_2018.to_csv(caminho_18, index=False)

In [223]:
ca_2019 = pd.concat([ca_2019_01, ca_2019_02])
caminho_19 = 'anos_concatenados/ca_2019.csv'
ca_2019.to_csv(caminho_19, index=False)

In [224]:
ca_2020 = pd.concat([ca_2020_01, ca_2020_02])
caminho_20 = 'anos_concatenados/ca_2020.csv'
ca_2020.to_csv(caminho_20, index=False)

In [225]:
ca_2021 = pd.concat([ca_2021_01, ca_2021_02])
caminho_21 = 'anos_concatenados/ca_2021.csv'
ca_2021.to_csv(caminho_21, index=False)

In [226]:
ca_2022 = pd.concat([ca_2022_01, ca_2022_02])
caminho_22 = 'anos_concatenados/ca_2022.csv'
ca_2022.to_csv(caminho_22, index=False)

In [227]:
caminho_23 = 'anos_concatenados/ca_2023.csv'
ca_2023_01.to_csv(caminho_23, index=False)